.product-img {
    
  width: 120px;
  height:100px;
  

}


.product-img-single {
    
    width: 300px;
    height:300px;
    object-fit: fill;
  
  }
  .pagination { justify-content: center!important; }